# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# PHPUnit
.idea

#VS Code
.vscode/*

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini
obdulio.code-workspace
