{% if flashMessage is not defined %}
	<div class="alert alert-success alert-dismissible hidden" id="message" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4 id="mensajeAjax">
                <i class="icon fa fa-check"></i> 
                <span id="user-message"></span>
            </h4>
        </div>
{% endif %}

{% for flashMessage in app.session.flashbag.get('mensaje') %}
	<div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>
                <i class="icon fa fa-check"></i> {{ flashMessage }}
            </h4>
        </div>
{% endfor %}